/* wrapper */
#wrapper {
	display:block;
	position:relative;
	width:100%;
	height:100%;
}
.layout {
	margin:0 auto;
	position:relative;
	width:980px;
    background-color: #fff;
}
main {
	display:block;
	width:100%;
	position: relative;
    background-color: #e3e7e8;
}
#content{
	position: relative;
}
#sidebar {
	position: relative;
}
aside{
	position: relative;
}

.clearfix:after {
    content: '';
    display: Table;
    width: 100%;
    clear: both;
    }