footer {
	display:block;
	width:100%;
	margin:0 0 0;
	padding:0 0 0;
    background-color: #282d34;
    border-top: 8px solid #ae4b5d;
    box-sizing: border-box;
    .layout {
        background-color: #282d34;
    }
}
